@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
div,
li,
a,
strong {
  color: rgb(206, 206, 206);
}

.bttn:disabled {
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;

  cursor: not-allowed;
}
.labbel {
  font-size: 0.9rem;
  color: #ffffff;
}

.privKey {
  color: #bcbcbc;
  box-sizing: border-box; /* ✅ Prevents shrinking */
}

.privKey:focus {
  border-color: #6a11cb;
  outline: none;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
}

.pubKey {
  font-size: large;
  color: #bcbcbc;
  box-sizing: border-box; /* ✅ Prevents shrinking */
}

.owned-tokens,
.trade-settings,
.dashboard {
  animation: fadeIn 0.5s ease-in-out;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
}

.dashboard-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: inherit;
}

.wallet {
  max-width: 530px;
  width: 100%;
}

@media (max-width: 900px) {
  .dashboard-container {
    flex-direction: column;
    width: 95%;
  }

  .wallet {
    max-width: 100% !important;
  }

  .trade-form,
  .owned-tokens {
    gap: 30px;
    max-width: 100% !important;
    width: 100%;
    flex-direction: column;
  }
}

.owned-tokens {
  align-self: baseline;
}

.show-mode,
.show-valuta {
  color: #126c0c;
}

.switch-mode {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 15px;
  background-color: transparent;
  border: 1px solid rgb(33, 19, 49);
  color: rgb(149, 149, 149);
  border-radius: 6px;
  transition: 0.3s;
  border: 1px solid rgb(58, 24, 121) !important;
  box-sizing: border-box;
}

.switch-mode:hover {
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
  border-color: #6a11cb !important;
  outline: none !important;
  background-color: #0d0c11 !important;
}

.switch-mode:focus {
  border-color: #6a11cb;
  outline: none;
  transform: scale(1.02);
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
}

.config-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.msg-content {
  display: flex;
  justify-content: space-between;
}
.input-wrapper {
  position: relative;
  width: 100%;
}

.input-symbol {
  position: absolute;
  top: 43%;
  right: 12px;
  transform: translateY(-50%);
  color: #7b7b7b;
  pointer-events: none;
}

.fee-symbol {
  position: absolute;
  font-size: 15px;
  top: 58%;
  right: 12px;
  transform: translateY(-50%);
  color: #7b7b7b;
  pointer-events: none;
}
