.navbar {
  padding: 20px !important;
}

.horizon-text:hover {
  opacity: 0.7;
  transform: scale(1.03);
}

.horizon-text:active {
  transform: scale(0.95);
}

.horizon-text {
  text-align: center;
}

.styleBox {
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgb(69, 0, 149), inset 0px 0px 5px rgb(69, 0, 149);
}

.displayKey {
  margin: 0px;
  color: rgb(158, 158, 158);
  font-size: clamp(0.7rem, 2vw, 0.6rem);
}

.copyBox {
  display: flex;
  align-items: baseline;
  width: fit-content;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #454545;
  transition: all 0.1s ease-in-out;
}

.copyBox:hover {
  background-color: #110f17;
  color: white;
}

.copyBox label {
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  font-weight: bold;
  color: rgb(188, 188, 188);
  white-space: nowrap;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.LogoutBtn {
  background: transparent;

  color: white;
  border-radius: 5px;

  transition: all 0.1s ease-in-out;
  border: 1px solid transparent;
}
.LogoutBtn:hover {
  padding: 6px;
  border-color: #c2c2c2;
}

.LogoutBtn:active {
  transform: scale(1.05);
  padding: 6px;
  border-color: #c2c2c2;
}

.info-box {
  color: white;
  padding: 12px;
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: 10px;
}

.amount-container {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 5px;
}

.green {
  color: #c6c6c6;
} /* SOL */
.yellow {
  color: #c6c6c6;
} /* WSOL */
.blue {
  color: #c6c6c6;
} /* USD */

@media (max-width: 650px) {
  .amount-container * {
    font-size: 12px;
  }
  .logoBox {
    margin: auto;
  }
  .copyBox {
    gap: 2px;
    padding: 5px;
    border: none;
  }
}

.login {
  margin: auto;
}
